//Environment variables

SESSION_SECRET=<A_RANDOM_ALPHANUMBERIC_STRING>
MONGO_URL=<YOUR_MONGODB_CONNECTION_STRING>

//Nothing to modify in the following

PORT=3100
NODE_ENV=production

//Authentication endpoints
SIGNUP_ENDPOINT=/api/user/create
LOGIN_ENDPOINT=/api/user/authenticate

//Bills endpoints
GET_BILLS_ENDPOINT=/api/bills/get
UPSERT_BILL_ENDPOINT=/api/bills/create

//Accounts endpoints
CREATE_ACCOUNT_ENDPOINT=/api/accounts/create
GET_ACCOUNTS_ENDPOINT=/api/accounts/get
ACCOUNT_WITHDRAW_ENDPOINT=/api/accounts/withdraw
ACCOUNT_DEPOSIT_ENDPOINT=/api/accounts/deposit

//Transactions endpoints
CREATE_TRANSACTION_ENDPOINT=/api/transactions/create
GET_TRANSACTIONS_ENDPOINT=/api/transactions/get

//Support endpoints
CHAT_ENDPOINT=/api/message
